@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');



*{margin: 0;
padding: 0;}
body{
    height: 4438px;
    width: 1440px;
    background-color: #004231;
  

  
  
}
.grid-container {
    width: 1096px;
    height: 4438px;
    margin: 0 auto; /* Centers the grid horizontally */
    display: grid;
    /* Add grid properties as needed */
   
  }
  .heading h1{
    position: relative;
    top: 80px;
    font-family: outfit,sans-serif;
    color: white;
    font-weight: bold;
    font-size: 87.67px;
   margin-bottom: 50px;
  }
  .heading h1 {
    line-height: 101%;
        
      
  }
  .heading{
    display: flex;

   
  }
  .quranimage img{
    position: absolute;
    left: 75%;
    position: relative;
    top: 70px;
  }
.btn-1 button{
  width: 255px;
  height: 76px;
  background-color: #F8C425;
  border-radius: 38px;
  border: none;
  font-size: 20.32px;
  font-weight: 600;
  position: relative;
  left: 35px;
  color: #222222;
}
.play-btn #playPauseBtn1{
position: relative;
bottom: 50px;
left: 50px;
cursor: pointer;
font-size: 23px;
color: #222222;
}
.btn-1 {
  position: relative;
  top: 50px;
  right: 35px;

}
.btn-1 button{
  cursor: pointer;
}
.flex{
  display: flex;
}
.btn-2 button{
  width: 255px;
  height: 76px;

  border-radius: 38px;
  border: none;
  font-size: 20.32px;
  font-weight: 600;
  position: relative;
  left: 35px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn-2 img{
 position: relative;
right:200px;
position: relative;
top: 5px;
}
.btn-2{
  position: relative;
 top: 50px;

}
.btn-2 button{
  cursor: pointer;
}
.play-btn img{
  cursor: pointer;
}
.btn-2 img{
  cursor: pointer;
}
.btn-1 button{
  transition: background-color 300ms ease-in-out; 
}

.btn-1 button:hover {
  background-color: #40B47E;
}
.play-btn #pause{
  position: relative;
  bottom: 50px;
  left: 21px;
  cursor: pointer;
  }
  .btn-2 #playPauseBtn2{
    font-size: 23px;
    color: white;
    position: relative;
    right: 190px;
    cursor: pointer;
  }
  .grey-background{
    width: 1065px;
    height:3250px;
    background-color: #E5E5E5; 
    margin-top: 120px;
border-radius: 45px;
position: relative;
left: 15px;
    
  }
  .playing input {
    -webkit-appearance: none;
    width: 100%;
  height: 74px;
    background: #47CE79;
    border-radius: 67.71px;
   
   
  }
  .playing{
    width: 100%;
  }
 
  slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 1014px;
    height:20px;
    border-radius: 67.17px;
    background: #47CE79;
   
   
  }
  
 
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F0BF38;
    cursor: pointer;}
  .slider{
    margin-top: 70px;
    position: relative;
    left: 40px;

 
   
   
  }
  .heading-2 h1{
    font-size: 52.4px;
    color: #222222;
    font-family: outfit,sans-serif;
    position: relative;
    left: 120px;
    top: 50px;
  }
 .abdul-rehman img{
  position: relative;
  top: 100px;
  left: 100px;
 }
 .tilawat-1{
  width: 885px;
  height: 176px;
  background-color: #FFFFFF;
  border-radius: 28px;
  position: relative;
  top: 170px;
  left: 110px;
 }
 .tilawat-1 i{
  font-size: 71px;
  color: #222222;
  cursor: pointer;
  position: relative;
  top: 55px;
  left: 60px;
 }
 .slidecontainer {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  bottom: 0; /* Adjust the top value to control the stickiness position */
  z-index: 1000;
  padding: 10px; }
  
.tilawat-1 h1{
  font-size: 52.4px;
  font-family: outfit,sans-serif;
  color: #222222;
  position: relative;
  left: 250px;
  bottom: 10px;
}
.tilawat-1 {
  margin-bottom: 60px; /* Adjust the value as needed */
}

 
